html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 {
    margin: 0 0 .5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

.hero {

    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tarjeta {
    margin: 0 auto;
}

@media (min-width: 576px) {
    .tarjeta {
        border-radius: .5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .tarjeta {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .tarjeta {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .tarjeta {
        grid-template-columns: repeat(5, 1fr);
    }
}

.tarjeta__content {
    border: .1rem solid #e1e1e1;
    box-shadow: 0 0 .2rem #e1e1e1;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
    .tarjeta__content {
        margin: 0;
    }
}

.tarjeta__img {
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    height: 32rem;
    width: 100%;
}

.tarjeta__titulo {
    background-color: #e1e1e1;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
}