html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background-color: #21232A;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 {
    margin: 0 0 .5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

.img__logo {
    width: 15rem;
}